.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
  }
  
  .drag-box {
    border: 2px dashed #94a3b8;
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
    color: #64748b;
    cursor: pointer;
    transition: border-color 0.3s;
  }
  
  .drag-box:hover {
    border-color: #2563eb;
  }
  
  .modal-bg {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
  }
  /* styles.css */

/* Custom colors */
.custom-green {
  background-color: #10B981; /* Custom green */
}

.custom-gray {
  background-color: #F3F4F6; /* Custom gray */
}

.custom-dark {
  color: #1F2937; /* Dark text color */
}

.custom-light {
  color: #E5E7EB; /* Light text color */
}

.custom-border-green {
  border-color: #10B981; /* Custom green border */
}

.text-custom-dark {
  color: #1F2937; /* Dark text color */
}

.text-custom-light {
  color: #E5E7EB; /* Light text color */
}

.bg-custom-white {
  background-color: white;
}
